<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Manager: Update Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div style="background-color:#ADD8E6; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    <div class="container">
        <div class="d--flex justify-content-around" style="display:flex;">
            <div class="container-md">
                <div class="row">          
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addStudent">ADD NEW STUDENT</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addInstructor">ADD NEW INSTRUCTOR</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="deleteStudent">DELETE STUDENT</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="updateTitle">UPDATE INSTRUCTOR TITLE</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewStudents">VIEW ALL STUDENTS</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewInstructors">VIEW ALL INSTRUCTORS</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewGrades">VIEW GRADES OF A STUDENT</a>
                    </div>  
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewCourses">VIEW COURSES OF AN INSTRUCTOR</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewAverage">VIEW AVERAGE GRADE OF A COURSE</a>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="container-fluid">
                {% if action_fail %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Failed</h4>
                    <p>{{errormessage}}</p>
                </div>
                {% endif %}
                {% if action_success %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Successful</h4>
                    <p>Title is updated successfully.</p>
                </div>
                {% endif %}
                <div class="center">
                    <form id="postform" class="form-group" method="POST" action="{%url 'updateTitleWorker' %}">
                            {%csrf_token%}
                            <br>
                            <label>Update title of instructor:</label>
                            <br>
                            <input type="text" name="instructor_username" placeholder="Username" required>
                            <br>
                            <input type="text" name="title" placeholder="New title" required>
                            <br>
                            <input type="submit" name="submit" value="Update">
                            <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>