<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Instructor: Add Course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div style="background-color: #ADD8E6; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    <div class="container">
        {% if action_fail %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Course adding failed</h4>
            <p>{{errormessage}}</p>
        </div>
        {% endif %}
        {% if action_success %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Successful</h4>
            <p>Course is added successfully.</p>
        </div>
        {% endif %}
        <div class="center">
            <form id="postform" class="form-group" method="POST" action="{%url 'addCourseWorker' %}">
                    {%csrf_token%}
                    <br>
                    <label>Add New Course:</label>
                    <br>
                    <input type="text" name="courseid" placeholder="Course ID" required>
                    <br>
                    <input type="text" name="name" placeholder="Course Name" required>
                    <br>
                    <input type="text" name="credits" placeholder="Credits" required>
                    <br>
                    <input type="text" name="classroomid" placeholder="Classroom ID" required>
                    <br>
                    <input type="text" name="timeslot" placeholder="Time Slot" required>
                    <br>
                    <input type="text" name="quota" placeholder="Quota" required>
                    <br>
                    <input type="submit" name="submit" value="ADD">
                    <br>
            </form>
        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>