<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Student: Filter Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:#ADD8E6; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    <div class="container">
        <div class="d--flex justify-content-around" style="display:flex;">
            <div class="container-md">
                <div class="row">          
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="listAllCourses">LIST ALL COURSES</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="enrollCourse">ENROLL COURSE</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="listMyCourses">VIEW MY COURSES</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="searchKeyword">SEARCH A KEYWORD</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="filterCourses">FILTER COURSES</a>
                    </div> 
                </div>
            </div>
            <div class="container-fluid">
                {% if action_fail %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Failed</h4>
                    <p>There is no course for this filter.</p>
                </div>
                {% endif %}
                <div class="container">
                    <table class="center">
                        <colgroup>
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                        </colgroup>
                        <tr>
                            <th>Course ID</th>
                            <th>Name</th>
                            <th>Instructor Surname</th>
                            <th>Department</th>
                            <th>Credits</th>
                            <th>Classroom ID</th>
                            <th>Time Slot</th>
                            <th>Quota</th>
                            <th>Prerequisites</th>
                        </tr>
                        {% for row in results %}
                        <tr>
                            {% for value in row %}
                            <td>
                                {{value}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="center">
                    <form id="postform" class="form-group" method="POST" action="{%url 'filterCoursesWorker' %}">
                            {%csrf_token%}
                            <br>
                            <label>Filter:</label>
                            <br>
                            <input type="text" name="department" placeholder="Department" required>
                            <br>
                            <input type="text" name="campus" placeholder="Campus" required>
                            <br>
                            <input type="text" name="minCredits" placeholder="Min Credits" required>
                            <br>
                            <input type="text" name="maxCredits" placeholder="Max Credits" required>
                            <br>
                            <input type="submit" name="submit" value="List">
                            <br>
                    </form>
                </div>
            </div> 
        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>