<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Instructor: Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:#ADD8E6; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    <div class="container">
        <div class="d--flex justify-content-around" style="display:flex;">
            <div class="container-md">
                <div class="row">          
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="listClassrooms">LIST AVAILABLE CLASSROOMS</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addCourse">ADD COURSE</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addPrerequisite" >ADD PREREQUISITE TO A COURSE</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewMyCourses" >LIST MY COURSES</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="listStudents">LIST STUDENTS</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="changeName">CHANGE COURSE NAME</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="uploadGrade">UPLOAD GRADE</a>
                    </div>  
                </div>
            </div>
            <div class="container-fluid">
                {% if action_fail %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">failed</h4>
                    <p>course does not exist</p>
                </div>
                {% endif %}
                <div class="container">
                    <table class="center">
                        <colgroup>
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                        </colgroup>
                        <tr>
                            <th>Username</th>
                            <th>Student ID</th>
                            <th>E-mail</th>
                            <th>Name</th>
                            <th>Surname</th>
                        </tr>
                        {% for row in results %}
                        <tr>
                            {% for value in row %}
                            <td>
                                {{value}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="center">
                    <form id="postform" class="form-group" method="POST" action="{%url 'listStudentsWorker' %}">
                            {%csrf_token%}
                            <br>
                            <label>Add Course ID:</label>
                            <br>
                            <input type="text" name="courseid" placeholder="Course ID" required>
                            <br>
                            <input type="submit" name="submit" value="List">
                            <br>
                    </form>
                </div>
            </div>  
        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>