<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Manager: All Instructors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:#ADD8E6; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    <div class="container">
        <div class="d--flex justify-content-around" style="display:flex;">
            <div class="container-md">
                <div class="row">          
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addStudent">ADD NEW STUDENT</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="addInstructor">ADD NEW INSTRUCTOR</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="deleteStudent">DELETE STUDENT</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="updateTitle">UPDATE INSTRUCTOR TITLE</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewStudents">VIEW ALL STUDENTS</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewInstructors">VIEW ALL INSTRUCTORS</a>
                    </div> 
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewGrades">VIEW GRADES OF A STUDENT</a>
                    </div>  
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewCourses">VIEW COURSES OF A INSTRUCTOR</a>
                    </div>
                    <div class="d-flex justify-content-around" style="margin-top: 20px">    
                        <a class="btn btn-primary" href="viewAverage">VIEW AVERAGE GRADE OF A COURSE</a>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="container-fluid">
                <div class="container">
                    <table class="center">
                        <colgroup>
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 20%;">
                        </colgroup>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>E-mail</th>
                            <th>Department</th>
                            <th>Title</th>
                        </tr>
                        {% for row in results %}
                        <tr>
                            {% for value in row %}
                            <td>
                                {{value}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>